.search-result-wrapper {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.search-result-title {
  margin: 20px 0;
  font-size: 40px;
}
.search-section-title {
  font-size: 25px;
}
.item_link {
  color: blue;
}
